<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bagcailiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1364},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagcaoliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{3798,566},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagdaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{3798,378},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagdaoju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,988},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagmiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1871,1058}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1871,1058}}</string>
                <key>sourceSize</key>
                <string>{1871,1058}</string>
            </dict>
            <key>bagquanbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3798,190},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagquanbu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3798,1059},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagzhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{3798,2},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagzhuangbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3798,754},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,1157},{199,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,200}}</string>
                <key>sourceSize</key>
                <string>{199,200}</string>
            </dict>
            <key>bai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1364},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>beibaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{2134,1153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2134,1153}}</string>
                <key>sourceSize</key>
                <string>{2134,1153}</string>
            </dict>
            <key>beibaojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,453},{97,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,80}}</string>
                <key>sourceSize</key>
                <string>{97,80}</string>
            </dict>
            <key>beibaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,521},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beibaojinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,453},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>beibaojinbiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,699},{438,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,92}}</string>
                <key>sourceSize</key>
                <string>{438,92}</string>
            </dict>
            <key>beibaojinbishuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4050,754},{353,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,42}}</string>
                <key>sourceSize</key>
                <string>{353,42}</string>
            </dict>
            <key>beibaoshuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,644},{538,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,53}}</string>
                <key>sourceSize</key>
                <string>{538,53}</string>
            </dict>
            <key>biaotibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1875},{641,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,135}}</string>
                <key>sourceSize</key>
                <string>{641,135}</string>
            </dict>
            <key>bukechushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1875},{337,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,141}}</string>
                <key>sourceSize</key>
                <string>{337,141}</string>
            </dict>
            <key>chucangxiangbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,699},{299,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,95}}</string>
                <key>sourceSize</key>
                <string>{299,95}</string>
            </dict>
            <key>chushou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1875},{337,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,141}}</string>
                <key>sourceSize</key>
                <string>{337,141}</string>
            </dict>
            <key>chushou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1875},{337,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,141}}</string>
                <key>sourceSize</key>
                <string>{337,141}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1364},{226,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,217}}</string>
                <key>sourceSize</key>
                <string>{226,217}</string>
            </dict>
            <key>huang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1794},{200,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,199}}</string>
                <key>sourceSize</key>
                <string>{200,199}</string>
            </dict>
            <key>huang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1592},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1669},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1669},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,786},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,786},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>quanbuanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1000},{215,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,116}}</string>
                <key>sourceSize</key>
                <string>{215,116}</string>
            </dict>
            <key>quanbuanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,521},{215,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,116}}</string>
                <key>sourceSize</key>
                <string>{215,116}</string>
            </dict>
            <key>shuziditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,699},{313,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,85}}</string>
                <key>sourceSize</key>
                <string>{313,85}</string>
            </dict>
            <key>wupinkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,442},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wupinmiaoshukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{574,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,236}}</string>
                <key>sourceSize</key>
                <string>{574,236}</string>
            </dict>
            <key>wupinminchenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,240},{387,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,211}}</string>
                <key>sourceSize</key>
                <string>{387,211}</string>
            </dict>
            <key>xiaojinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4050,1109},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>xuanzeshuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1364},{481,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,45}}</string>
                <key>sourceSize</key>
                <string>{481,45}</string>
            </dict>
            <key>zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,240},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1157},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bagpic.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e33ecc0a62bb03ca4b2c2c18f38dc2b0:97e26391f09a3422d31764a6d7d1317f:a575ee5b628fdb1c3799e3a2296d5d7a$</string>
            <key>textureFileName</key>
            <string>Bagpic.png</string>
        </dict>
    </dict>
</plist>
