<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bagcailiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagcaoliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1167},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagdaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1052},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagdaoju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,714},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagquanbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,979},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagquanbu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagzhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,791},{271,186}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{271,186}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bagzhuangbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,539},{303,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,250}}</string>
                <key>sourceSize</key>
                <string>{303,250}</string>
            </dict>
            <key>bai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1571},{199,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,200}}</string>
                <key>sourceSize</key>
                <string>{199,200}</string>
            </dict>
            <key>bai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1759},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>beibaojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,669},{97,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,80}}</string>
                <key>sourceSize</key>
                <string>{97,80}</string>
            </dict>
            <key>beibaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1167},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>beibaojinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1249},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>beibaojinbiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,145},{438,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,92}}</string>
                <key>sourceSize</key>
                <string>{438,92}</string>
            </dict>
            <key>biaotibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{641,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,135}}</string>
                <key>sourceSize</key>
                <string>{641,135}</string>
            </dict>
            <key>bukechushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{337,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,141}}</string>
                <key>sourceSize</key>
                <string>{337,141}</string>
            </dict>
            <key>chucangxiangbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,751},{299,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,95}}</string>
                <key>sourceSize</key>
                <string>{299,95}</string>
            </dict>
            <key>chushou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{337,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,141}}</string>
                <key>sourceSize</key>
                <string>{337,141}</string>
            </dict>
            <key>chushou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{337,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,141}}</string>
                <key>sourceSize</key>
                <string>{337,141}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,377},{226,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,217}}</string>
                <key>sourceSize</key>
                <string>{226,217}</string>
            </dict>
            <key>huang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1527},{200,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,199}}</string>
                <key>sourceSize</key>
                <string>{200,199}</string>
            </dict>
            <key>huang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1423},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1369},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1325},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1355},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>quanbuanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,596},{215,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,116}}</string>
                <key>sourceSize</key>
                <string>{215,116}</string>
            </dict>
            <key>quanbuanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,452},{215,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,116}}</string>
                <key>sourceSize</key>
                <string>{215,116}</string>
            </dict>
            <key>shuziditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,452},{313,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,85}}</string>
                <key>sourceSize</key>
                <string>{313,85}</string>
            </dict>
            <key>wupinkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1221},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>wupinmiaoshukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{574,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,236}}</string>
                <key>sourceSize</key>
                <string>{574,236}</string>
            </dict>
            <key>wupinminchenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,239},{387,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,211}}</string>
                <key>sourceSize</key>
                <string>{387,211}</string>
            </dict>
            <key>xiaojinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1167},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1019},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bagpic.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a2934dee504a5fd6ead22d27cfccad8:d2e9fcfd00a46f77c125fa041ca82b6b:6431740e20bacb88da1c18ce8fb53191$</string>
            <key>textureFileName</key>
            <string>Bagpic.pvr</string>
        </dict>
    </dict>
</plist>
