<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baojiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,790},{186,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,6},{186,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1956},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>coinX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,226},{34,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{34,29}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>combo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,815},{133,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,143}}</string>
                <key>sourceSize</key>
                <string>{133,143}</string>
            </dict>
            <key>combo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,855},{100,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,141}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>combo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,989},{132,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,142}}</string>
                <key>sourceSize</key>
                <string>{132,142}</string>
            </dict>
            <key>combo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,855},{132,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,143}}</string>
                <key>sourceSize</key>
                <string>{132,143}</string>
            </dict>
            <key>combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1254},{129,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,141}}</string>
                <key>sourceSize</key>
                <string>{129,141}</string>
            </dict>
            <key>combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1084},{132,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,142}}</string>
                <key>sourceSize</key>
                <string>{132,142}</string>
            </dict>
            <key>combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1218},{128,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,142}}</string>
                <key>sourceSize</key>
                <string>{128,142}</string>
            </dict>
            <key>combo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1123},{130,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{130,141}</string>
            </dict>
            <key>combo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,950},{132,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,143}}</string>
                <key>sourceSize</key>
                <string>{132,143}</string>
            </dict>
            <key>combo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1123},{129,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,142}}</string>
                <key>sourceSize</key>
                <string>{129,142}</string>
            </dict>
            <key>comboA.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1536},{452,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,175}}</string>
                <key>sourceSize</key>
                <string>{452,175}</string>
            </dict>
            <key>comboB.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1168},{365,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,162}}</string>
                <key>sourceSize</key>
                <string>{365,162}</string>
            </dict>
            <key>comboC.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1168},{348,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,161}}</string>
                <key>sourceSize</key>
                <string>{348,161}</string>
            </dict>
            <key>comboD.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1536},{418,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,159}}</string>
                <key>sourceSize</key>
                <string>{418,159}</string>
            </dict>
            <key>comboDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,226},{656,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,140}}</string>
                <key>sourceSize</key>
                <string>{656,140}</string>
            </dict>
            <key>comboLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1956},{176,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,72}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>comboS.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1536},{457,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,160}}</string>
                <key>sourceSize</key>
                <string>{457,160}</string>
            </dict>
            <key>comboSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1250},{776,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,166}}</string>
                <key>sourceSize</key>
                <string>{776,166}</string>
            </dict>
            <key>countDownBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,548},{249,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,28}}</string>
                <key>sourceSize</key>
                <string>{249,28}</string>
            </dict>
            <key>countDownFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,368},{257,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,36}}</string>
                <key>sourceSize</key>
                <string>{257,36}</string>
            </dict>
            <key>countDownFrameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,548},{249,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,28}}</string>
                <key>sourceSize</key>
                <string>{249,28}</string>
            </dict>
            <key>dam0.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,302},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>dam1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,462},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>dam2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,594},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>dam3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,897},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>dam4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,967},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>dam5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1037},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>dam6.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,450},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>dam7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1107},{67,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>dam8.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,377},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,84}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>dam9.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,522},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>daodiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1013},{188,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,6},{188,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>daojuBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,706},{148,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,147}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>enegyBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,279},{887,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,43}}</string>
                <key>sourceSize</key>
                <string>{887,43}</string>
            </dict>
            <key>enegyBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{1015,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1015,85}}</string>
                <key>sourceSize</key>
                <string>{1015,85}</string>
            </dict>
            <key>enegyBarFrameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{877,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,40}}</string>
                <key>sourceSize</key>
                <string>{877,40}</string>
            </dict>
            <key>enegyBarHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,257},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>fukongLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,596},{192,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{192,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>gedangLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1250},{194,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,6},{194,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>gunBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,572},{224,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,225}}</string>
                <key>sourceSize</key>
                <string>{224,225}</string>
            </dict>
            <key>heroAvatarQTE.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1013},{174,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,134}}</string>
                <key>sourceSize</key>
                <string>{174,134}</string>
            </dict>
            <key>jituiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,596},{190,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{190,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>knifeBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,798},{224,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,225}}</string>
                <key>sourceSize</key>
                <string>{224,225}</string>
            </dict>
            <key>lifeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,93},{90,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,10}}</string>
                <key>sourceSize</key>
                <string>{90,10}</string>
            </dict>
            <key>lifeBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,185},{90,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,10}}</string>
                <key>sourceSize</key>
                <string>{90,10}</string>
            </dict>
            <key>lifeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,664},{156,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,155}}</string>
                <key>sourceSize</key>
                <string>{156,155}</string>
            </dict>
            <key>mainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1152},{371,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,166}}</string>
                <key>sourceSize</key>
                <string>{371,166}</string>
            </dict>
            <key>mianyiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,821},{190,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,6},{190,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>missLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,462},{264,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{264,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>monster2AvatarQTE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,93},{195,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,131}}</string>
                <key>sourceSize</key>
                <string>{195,131}</string>
            </dict>
            <key>nextLevelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1176},{358,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,80}}</string>
                <key>sourceSize</key>
                <string>{358,80}</string>
            </dict>
            <key>pauseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,799},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>pauseUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{848,926}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{848,926}}</string>
                <key>sourceSize</key>
                <string>{848,926}</string>
            </dict>
            <key>powerprobar.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1536},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,414}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>qteBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{1513,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1513,59}}</string>
                <key>sourceSize</key>
                <string>{1513,59}</string>
            </dict>
            <key>qteBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1724,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1724,89}}</string>
                <key>sourceSize</key>
                <string>{1724,89}</string>
            </dict>
            <key>qteBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{1513,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1513,59}}</string>
                <key>sourceSize</key>
                <string>{1513,59}</string>
            </dict>
            <key>qteHeroAvatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,2},{307,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,228}}</string>
                <key>sourceSize</key>
                <string>{307,228}</string>
            </dict>
            <key>qteMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,706},{107,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,179}}</string>
                <key>sourceSize</key>
                <string>{107,179}</string>
            </dict>
            <key>qteMonsterAvatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,232},{307,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,228}}</string>
                <key>sourceSize</key>
                <string>{307,228}</string>
            </dict>
            <key>restartButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1152},{371,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,166}}</string>
                <key>sourceSize</key>
                <string>{371,166}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1152},{371,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,166}}</string>
                <key>sourceSize</key>
                <string>{371,166}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1168},{224,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,80}}</string>
                <key>sourceSize</key>
                <string>{224,80}</string>
            </dict>
            <key>shanbiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,821},{190,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{190,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
            <key>skillBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1024},{224,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,225}}</string>
                <key>sourceSize</key>
                <string>{224,225}</string>
            </dict>
            <key>wallLifeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,527},{592,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,67}}</string>
                <key>sourceSize</key>
                <string>{592,67}</string>
            </dict>
            <key>wallLifeBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,368},{612,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,81}}</string>
                <key>sourceSize</key>
                <string>{612,81}</string>
            </dict>
            <key>wallLifeBarFrameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,451},{609,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,74}}</string>
                <key>sourceSize</key>
                <string>{609,74}</string>
            </dict>
            <key>wallLifeBarHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,572},{20,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,67}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>yunLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,596},{192,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{192,108}}</string>
                <key>sourceSize</key>
                <string>{264,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d984d05bd1ceb4079ce8d9500213efea:b671435081da5f9414f4225bac19a215:e04ef45b5450afcfff0870e6b113eff6$</string>
            <key>textureFileName</key>
            <string>GameScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
