<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EXPLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1156},{113,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,49}}</string>
                <key>sourceSize</key>
                <string>{113,49}</string>
            </dict>
            <key>againButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{371,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,166}}</string>
                <key>sourceSize</key>
                <string>{371,166}</string>
            </dict>
            <key>awardButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{406,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,194}}</string>
                <key>sourceSize</key>
                <string>{406,194}</string>
            </dict>
            <key>endPanelArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{73,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,54}}</string>
                <key>sourceSize</key>
                <string>{73,54}</string>
            </dict>
            <key>endPanelCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1149},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>endPanelExpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1213},{659,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,28}}</string>
                <key>sourceSize</key>
                <string>{659,28}</string>
            </dict>
            <key>endPanelExpBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1213},{667,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,45}}</string>
                <key>sourceSize</key>
                <string>{667,45}</string>
            </dict>
            <key>endPanelJinYanJinBiFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1842},{268,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,60}}</string>
                <key>sourceSize</key>
                <string>{268,60}</string>
            </dict>
            <key>endPanelLabels.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,748},{147,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,264}}</string>
                <key>sourceSize</key>
                <string>{147,264}</string>
            </dict>
            <key>endPanelSpector.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{1209,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1209,7}}</string>
                <key>sourceSize</key>
                <string>{1209,7}</string>
            </dict>
            <key>endPanelWuPinDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,732},{1355,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1355,242}}</string>
                <key>sourceSize</key>
                <string>{1355,242}</string>
            </dict>
            <key>endPanelZiMuDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1213},{627,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,228}}</string>
                <key>sourceSize</key>
                <string>{627,228}</string>
            </dict>
            <key>failedTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1014},{933,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{933,220}}</string>
                <key>sourceSize</key>
                <string>{933,220}</string>
            </dict>
            <key>failedTipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1858,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1858,363}}</string>
                <key>sourceSize</key>
                <string>{1858,363}</string>
            </dict>
            <key>rateAIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1213},{223,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,300}}</string>
                <key>sourceSize</key>
                <string>{223,300}</string>
            </dict>
            <key>rateBIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,976},{223,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,276}}</string>
                <key>sourceSize</key>
                <string>{223,276}</string>
            </dict>
            <key>rateCIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1515},{250,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,276}}</string>
                <key>sourceSize</key>
                <string>{250,276}</string>
            </dict>
            <key>rateSIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1213},{258,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,273}}</string>
                <key>sourceSize</key>
                <string>{258,273}</string>
            </dict>
            <key>rateSSIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,748},{399,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,275}}</string>
                <key>sourceSize</key>
                <string>{399,275}</string>
            </dict>
            <key>sureButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,375},{371,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,166}}</string>
                <key>sourceSize</key>
                <string>{371,166}</string>
            </dict>
            <key>upgredLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1905},{358,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,132}}</string>
                <key>sourceSize</key>
                <string>{358,132}</string>
            </dict>
            <key>upgredLifeLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1156},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>upgredTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{690,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,79}}</string>
                <key>sourceSize</key>
                <string>{690,79}</string>
            </dict>
            <key>winTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1014},{949,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{949,254}}</string>
                <key>sourceSize</key>
                <string>{949,254}</string>
            </dict>
            <key>winTipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{1858,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1858,363}}</string>
                <key>sourceSize</key>
                <string>{1858,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSceneEndLayer.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4418b37086a11ea9a5d8625ba2922cad:477e51622911db58e702f548d5b92ed0:bf423bf7c22fe46ebab2ed622b8ddc06$</string>
            <key>textureFileName</key>
            <string>GameSceneEndLayer.pvr</string>
        </dict>
    </dict>
</plist>
