<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgxwg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{797,944}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{797,944}}</string>
                <key>sourceSize</key>
                <string>{797,944}</string>
            </dict>
            <key>cztf.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1160},{331,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,144}}</string>
                <key>sourceSize</key>
                <string>{331,144}</string>
            </dict>
            <key>czxywz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,1307},{196,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,42}}</string>
                <key>sourceSize</key>
                <string>{196,42}</string>
            </dict>
            <key>djan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,1505},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>djan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1745},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>djan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1745},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>djldt.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,692},{873,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{873,213}}</string>
                <key>sourceSize</key>
                <string>{873,213}</string>
            </dict>
            <key>ghcw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,218},{238,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,52}}</string>
                <key>sourceSize</key>
                <string>{238,52}</string>
            </dict>
            <key>ghdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1894},{230,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{230,44}}</string>
                <key>sourceSize</key>
                <string>{238,52}</string>
            </dict>
            <key>ghsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,218},{238,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,50}}</string>
                <key>sourceSize</key>
                <string>{238,52}</string>
            </dict>
            <key>ghwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,838},{238,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,52}}</string>
                <key>sourceSize</key>
                <string>{238,52}</string>
            </dict>
            <key>hstfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,2012},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>jsht.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,907},{1035,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1035,7}}</string>
                <key>sourceSize</key>
                <string>{1035,7}</string>
            </dict>
            <key>kqtf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1756},{213,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,75}}</string>
                <key>sourceSize</key>
                <string>{213,75}</string>
            </dict>
            <key>kqtf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1679},{213,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,75}}</string>
                <key>sourceSize</key>
                <string>{213,75}</string>
            </dict>
            <key>lstfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2012},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>qh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1599},{277,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,144}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>qh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1453},{277,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,144}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>span1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1881},{136,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,135}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>span2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,1793},{136,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,135}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>span3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1656},{136,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,135}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>sxmc.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,916},{644,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,242}}</string>
                <key>sourceSize</key>
                <string>{644,242}</string>
            </dict>
            <key>tfds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1833},{199,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,46}}</string>
                <key>sourceSize</key>
                <string>{199,46}</string>
            </dict>
            <key>tffl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,838},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tffl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1930},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tffl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1957},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tffl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1930},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>tfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1933},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tfsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1933},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>tfsddt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1916},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>tfxqk.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1523},{516,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,357}}</string>
                <key>sourceSize</key>
                <string>{516,357}</string>
            </dict>
            <key>wqan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1676},{226,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,231}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
            <key>wqan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1443},{226,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,231}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
            <key>wqxydbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1730},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>wqxydjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1747},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>wqxydls.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1493},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>wqxydlvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1307},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>wqxydzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>xxan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1307},{277,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,144}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>xxan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1584},{277,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,144}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>xxsxan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1881},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>xxsxmc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{224,894}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,894}}</string>
                <key>sourceSize</key>
                <string>{224,894}</string>
            </dict>
            <key>xyk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,462},{1118,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1118,228}}</string>
                <key>sourceSize</key>
                <string>{1120,228}</string>
            </dict>
            <key>xzkgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1882},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,164}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>yxdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,916},{460,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,389}}</string>
                <key>sourceSize</key>
                <string>{460,389}</string>
            </dict>
            <key>yxjn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1909},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>yxjn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1882},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>yxk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,232},{1120,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,228}}</string>
                <key>sourceSize</key>
                <string>{1120,228}</string>
            </dict>
            <key>yxk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{1120,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,228}}</string>
                <key>sourceSize</key>
                <string>{1120,228}</string>
            </dict>
            <key>yxmzdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,948},{466,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,84}}</string>
                <key>sourceSize</key>
                <string>{466,84}</string>
            </dict>
            <key>yxsx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1443},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>yxsx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1306},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>yxtf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1301},{301,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{301,135}}</string>
                <key>sourceSize</key>
                <string>{303,139}</string>
            </dict>
            <key>yxtf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1160},{303,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,139}}</string>
                <key>sourceSize</key>
                <string>{303,139}</string>
            </dict>
            <key>yxwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,2},{214,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,88}}</string>
                <key>sourceSize</key>
                <string>{214,88}</string>
            </dict>
            <key>zban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1438},{277,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,144}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>zban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,692},{277,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,144}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>zbxqdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,948},{573,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,460}}</string>
                <key>sourceSize</key>
                <string>{573,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bed3d9183bc94e386ae1dfe7313890:69c2c497cdec5f1501843d3e9ea9aaeb:777b62fb190814e7f8c761fa91fab192$</string>
            <key>textureFileName</key>
            <string>hero.pvr</string>
        </dict>
    </dict>
</plist>
