<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cl002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl003.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl006.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1820},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1618},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl010.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1416},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl011.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl012.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl013.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl014.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl015.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>cl021.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dj001.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1008},{198,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>dj002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1006},{198,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jewel001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,806},{198,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jewel002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1006},{198,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{198,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jewel003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,806},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jewel004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,406},{198,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l1_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,806},{198,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l3_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l3_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l3_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1820},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l3_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1618},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l3_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1416},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l6_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l6_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l6_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l6_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l6_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l9_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l9_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l9_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l9_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k0_l9_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l1_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,808},{198,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l3_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l3_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l3_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l3_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l3_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l6_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l6_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l6_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l6_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l6_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l9_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l9_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l9_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l9_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>k1_l9_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>unknowitemicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,808},{198,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp001.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,808},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1006},{198,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{198,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,806},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,606},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1006},{198,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{198,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,606},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,406},{200,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,606},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,608},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp010.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,608},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1008},{198,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{198,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp012.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,608},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1204},{196,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{196,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,606},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp015.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1008},{198,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{198,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,406},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1204},{196,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{196,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xhp018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,406},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>itemicons.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f6665ed582cc7d76218ba32fc8b688a:c0994e7374e5d39dd3b75d62afb409f9:5e7c4629609013d38d04d841fd59e506$</string>
            <key>textureFileName</key>
            <string>itemicons.pvr</string>
        </dict>
    </dict>
</plist>
