<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwulong.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{302,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,238}}</string>
                <key>sourceSize</key>
                <string>{302,238}</string>
            </dict>
            <key>chongwulongziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,899},{149,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,53}}</string>
                <key>sourceSize</key>
                <string>{149,53}</string>
            </dict>
            <key>chucangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,502},{275,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,233}}</string>
                <key>sourceSize</key>
                <string>{275,233}</string>
            </dict>
            <key>chucangxiangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,791},{149,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,52}}</string>
                <key>sourceSize</key>
                <string>{149,52}</string>
            </dict>
            <key>diyu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,242},{329,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,38}}</string>
                <key>sourceSize</key>
                <string>{329,38}</string>
            </dict>
            <key>duanzaotai.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,242},{277,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,258}}</string>
                <key>sourceSize</key>
                <string>{277,258}</string>
            </dict>
            <key>duanzaotaiziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,885},{151,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,53}}</string>
                <key>sourceSize</key>
                <string>{151,53}</string>
            </dict>
            <key>guanqiarenwuziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,737},{198,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,52}}</string>
                <key>sourceSize</key>
                <string>{198,52}</string>
            </dict>
            <key>guaqiarenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{424,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,454}}</string>
                <key>sourceSize</key>
                <string>{424,454}</string>
            </dict>
            <key>jiahao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,845},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>jiahao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,845},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,954},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>jinbikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,622},{343,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,81}}</string>
                <key>sourceSize</key>
                <string>{343,81}</string>
            </dict>
            <key>jinjichangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,737},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>jinyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,622},{386,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,38}}</string>
                <key>sourceSize</key>
                <string>{386,38}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,244},{272,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,376}}</string>
                <key>sourceSize</key>
                <string>{272,376}</string>
            </dict>
            <key>paihangbangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,940},{149,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,52}}</string>
                <key>sourceSize</key>
                <string>{149,52}</string>
            </dict>
            <key>shengmingtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,622},{386,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,38}}</string>
                <key>sourceSize</key>
                <string>{386,38}</string>
            </dict>
            <key>shenmishangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{340,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,320}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>shenmishangrenziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,845},{197,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,52}}</string>
                <key>sourceSize</key>
                <string>{197,52}</string>
            </dict>
            <key>shikongmijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,791},{197,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,52}}</string>
                <key>sourceSize</key>
                <string>{197,52}</string>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,954},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,700},{183,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,153}}</string>
                <key>sourceSize</key>
                <string>{183,153}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{689,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{689,240}}</string>
                <key>sourceSize</key>
                <string>{689,248}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,622},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainface.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c230653833d2671281c55f1637a13486:bbfd45f3d300017126e1f53d7071f9f0:ef700ce41e2b0ddfde439b73c5235743$</string>
            <key>textureFileName</key>
            <string>mainface.pvr</string>
        </dict>
    </dict>
</plist>
