<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1700},{318,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,40}}</string>
                <key>sourceSize</key>
                <string>{318,40}</string>
            </dict>
            <key>chongwulong.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1694},{302,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,238}}</string>
                <key>sourceSize</key>
                <string>{302,238}</string>
            </dict>
            <key>chongwulongziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1992},{149,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,53}}</string>
                <key>sourceSize</key>
                <string>{149,53}</string>
            </dict>
            <key>chucangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1702},{275,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,233}}</string>
                <key>sourceSize</key>
                <string>{275,233}</string>
            </dict>
            <key>chucangxiangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1431},{149,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,52}}</string>
                <key>sourceSize</key>
                <string>{149,52}</string>
            </dict>
            <key>dengjishuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1998},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>diyu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1700},{329,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,38}}</string>
                <key>sourceSize</key>
                <string>{329,38}</string>
            </dict>
            <key>duanzaotai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1678},{277,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,258}}</string>
                <key>sourceSize</key>
                <string>{277,258}</string>
            </dict>
            <key>duanzaotaiziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1937},{151,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,53}}</string>
                <key>sourceSize</key>
                <string>{151,53}</string>
            </dict>
            <key>guanqiarenwuziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1624},{198,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,52}}</string>
                <key>sourceSize</key>
                <string>{198,52}</string>
            </dict>
            <key>guaqiarenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1246},{424,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,454}}</string>
                <key>sourceSize</key>
                <string>{424,454}</string>
            </dict>
            <key>jiahao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1581},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>jiahao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1624},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1624},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>jinbikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1937},{343,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,81}}</string>
                <key>sourceSize</key>
                <string>{343,81}</string>
            </dict>
            <key>jinjichangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1431},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>jinyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1246},{386,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,38}}</string>
                <key>sourceSize</key>
                <string>{386,38}</string>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2208,1242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2208,1242}}</string>
                <key>sourceSize</key>
                <string>{2208,1242}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1246},{272,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,376}}</string>
                <key>sourceSize</key>
                <string>{272,376}</string>
            </dict>
            <key>paihangbangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1431},{149,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,52}}</string>
                <key>sourceSize</key>
                <string>{149,52}</string>
            </dict>
            <key>shengmingtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1246},{386,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,38}}</string>
                <key>sourceSize</key>
                <string>{386,38}</string>
            </dict>
            <key>shenmishangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1702},{340,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,320}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>shenmishangrenziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1957},{197,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,52}}</string>
                <key>sourceSize</key>
                <string>{197,52}</string>
            </dict>
            <key>shikongmijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1957},{197,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,52}}</string>
                <key>sourceSize</key>
                <string>{197,52}</string>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1634},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1246},{183,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,153}}</string>
                <key>sourceSize</key>
                <string>{183,153}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{689,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{689,240}}</string>
                <key>sourceSize</key>
                <string>{689,248}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1634},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainface.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d74a9a543e45a99cf645c8a8a0e7bda4:2b9f0a5831bdb966ae874053db9537bd:3ae7d6f1894ec6b173057dfa5dff128a$</string>
            <key>textureFileName</key>
            <string>mainface.png</string>
        </dict>
    </dict>
</plist>
