<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,100},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,51},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,2},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1947},{129,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>beidongjineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2001},{166,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,43}}</string>
                <key>sourceSize</key>
                <string>{166,43}</string>
            </dict>
            <key>chongwutuqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,692},{346,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,89}}</string>
                <key>sourceSize</key>
                <string>{346,89}</string>
            </dict>
            <key>dajiangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1378},{144,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,42}}</string>
                <key>sourceSize</key>
                <string>{144,42}</string>
            </dict>
            <key>dajiangshimiaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,149},{533,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,95}}</string>
                <key>sourceSize</key>
                <string>{533,95}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,595},{650,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,50}}</string>
                <key>sourceSize</key>
                <string>{650,50}</string>
            </dict>
            <key>ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,534},{650,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,59}}</string>
                <key>sourceSize</key>
                <string>{650,59}</string>
            </dict>
            <key>dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1099},{375,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,142}}</string>
                <key>sourceSize</key>
                <string>{375,142}</string>
            </dict>
            <key>faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1780},{245,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,257}}</string>
                <key>sourceSize</key>
                <string>{245,257}</string>
            </dict>
            <key>huatiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,654},{20,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,127}}</string>
                <key>sourceSize</key>
                <string>{20,127}</string>
            </dict>
            <key>huatiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,783},{30,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,314}}</string>
                <key>sourceSize</key>
                <string>{30,314}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,692},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>jiechuqiyue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1467},{276,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,142}}</string>
                <key>sourceSize</key>
                <string>{276,142}</string>
            </dict>
            <key>jiechuqiyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1467},{276,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,142}}</string>
                <key>sourceSize</key>
                <string>{276,142}</string>
            </dict>
            <key>jineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1099},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jineng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,783},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jinengdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,647},{536,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,153}}</string>
                <key>sourceSize</key>
                <string>{536,153}</string>
            </dict>
            <key>jinengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,684},{202,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,203}}</string>
                <key>sourceSize</key>
                <string>{202,203}</string>
            </dict>
            <key>jinengsuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,888},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,133}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>jinengtubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1099},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>jinengtubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1238},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>jinengtubiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,692},{132,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,134}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>jinjie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1476},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jinjie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1099},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jinjieanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,802},{277,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,142}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>jinjieanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{277,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,142}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>jjxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1431},{247,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,43}}</string>
                <key>sourceSize</key>
                <string>{247,43}</string>
            </dict>
            <key>k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{1265,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1265,228}}</string>
                <key>sourceSize</key>
                <string>{1265,228}</string>
            </dict>
            <key>k2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{1265,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1265,228}}</string>
                <key>sourceSize</key>
                <string>{1265,228}</string>
            </dict>
            <key>k3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1265,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1265,228}}</string>
                <key>sourceSize</key>
                <string>{1265,228}</string>
            </dict>
            <key>kuangcw.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1405},{228,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,60}}</string>
                <key>sourceSize</key>
                <string>{228,60}</string>
            </dict>
            <key>kuangcw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1780},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>lhqy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,802},{277,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,141}}</string>
                <key>sourceSize</key>
                <string>{277,141}</string>
            </dict>
            <key>lhqy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1099},{277,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,141}}</string>
                <key>sourceSize</key>
                <string>{277,141}</string>
            </dict>
            <key>miaoshuk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,349},{650,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,183}}</string>
                <key>sourceSize</key>
                <string>{650,183}</string>
            </dict>
            <key>qhjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>qhjnzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2001},{177,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,43}}</string>
                <key>sourceSize</key>
                <string>{177,43}</string>
            </dict>
            <key>suo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1819},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>sx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1476},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>sx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,783},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>sxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,2},{650,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,345}}</string>
                <key>sourceSize</key>
                <string>{650,345}</string>
            </dict>
            <key>sycw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{184,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,46}}</string>
                <key>sourceSize</key>
                <string>{184,46}</string>
            </dict>
            <key>yycw.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1099},{330,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,129}}</string>
                <key>sourceSize</key>
                <string>{330,129}</string>
            </dict>
            <key>zdjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1780},{165,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,43}}</string>
                <key>sourceSize</key>
                <string>{165,43}</string>
            </dict>
            <key>zhongjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2023,2},{650,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,22}}</string>
                <key>sourceSize</key>
                <string>{650,22}</string>
            </dict>
            <key>zsjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1780},{165,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,43}}</string>
                <key>sourceSize</key>
                <string>{165,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:662e409c44837f0a7f5c2455081989ac:fe835ca1660181a264a47f8fdb289f9c:6ad478c64155114d74460daf18cc89e5$</string>
            <key>textureFileName</key>
            <string>pet.pvr</string>
        </dict>
    </dict>
</plist>
