<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,790},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,741},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,692},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,839},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{3895,899},{129,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>beidongjineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,1724},{166,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,43}}</string>
                <key>sourceSize</key>
                <string>{166,43}</string>
            </dict>
            <key>chongwutuqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,888},{346,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,89}}</string>
                <key>sourceSize</key>
                <string>{346,89}</string>
            </dict>
            <key>dajiangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3944,995},{144,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,42}}</string>
                <key>sourceSize</key>
                <string>{144,42}</string>
            </dict>
            <key>dajiangshimiaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3405,802},{533,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,95}}</string>
                <key>sourceSize</key>
                <string>{533,95}</string>
            </dict>
            <key>dajiangshitouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3911,1695},{174,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,164}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>dajiangshixingxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3394,899},{445,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,499}}</string>
                <key>sourceSize</key>
                <string>{445,499}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{3415,595},{650,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,50}}</string>
                <key>sourceSize</key>
                <string>{650,50}</string>
            </dict>
            <key>ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{3415,534},{650,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,59}}</string>
                <key>sourceSize</key>
                <string>{650,59}</string>
            </dict>
            <key>ditu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2148,692},{2144,1153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2144,1153}}</string>
                <key>sourceSize</key>
                <string>{2144,1153}</string>
            </dict>
            <key>ditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2144,1153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2144,1153}}</string>
                <key>sourceSize</key>
                <string>{2144,1153}</string>
            </dict>
            <key>dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3943,1039},{375,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,142}}</string>
                <key>sourceSize</key>
                <string>{375,142}</string>
            </dict>
            <key>faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3654,1851},{245,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,257}}</string>
                <key>sourceSize</key>
                <string>{245,257}</string>
            </dict>
            <key>huatiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{3365,1315},{20,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,127}}</string>
                <key>sourceSize</key>
                <string>{20,127}</string>
            </dict>
            <key>huatiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{3697,1510},{30,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,314}}</string>
                <key>sourceSize</key>
                <string>{30,314}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,1236},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>jiechuqiyue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3796,2283},{276,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,142}}</string>
                <key>sourceSize</key>
                <string>{276,142}</string>
            </dict>
            <key>jiechuqiyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3652,2110},{276,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,142}}</string>
                <key>sourceSize</key>
                <string>{276,142}</string>
            </dict>
            <key>jineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,2326},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jineng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3348,1915},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jinengdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3415,647},{536,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,153}}</string>
                <key>sourceSize</key>
                <string>{536,153}</string>
            </dict>
            <key>jinengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3730,1465},{202,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,203}}</string>
                <key>sourceSize</key>
                <string>{202,203}</string>
            </dict>
            <key>jinengsuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3441,2463},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,133}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>jinengtubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3607,2388},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>jinengtubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,2463},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>jinengtubiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3746,2427},{132,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,134}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>jinjie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3348,2189},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jinjie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3348,1778},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jinjieanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3901,1861},{277,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,142}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>jinjieanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3940,1416},{277,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,142}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>jjxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{3895,1216},{247,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,43}}</string>
                <key>sourceSize</key>
                <string>{247,43}</string>
            </dict>
            <key>k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2148,462},{1265,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1265,228}}</string>
                <key>sourceSize</key>
                <string>{1265,228}</string>
            </dict>
            <key>k2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2148,232},{1265,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1265,228}}</string>
                <key>sourceSize</key>
                <string>{1265,228}</string>
            </dict>
            <key>k3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2148,2},{1265,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1265,228}}</string>
                <key>sourceSize</key>
                <string>{1265,228}</string>
            </dict>
            <key>kuangcw.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,1315},{228,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,60}}</string>
                <key>sourceSize</key>
                <string>{228,60}</string>
            </dict>
            <key>kuangcw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3944,933},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>lhqy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3796,2140},{277,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,141}}</string>
                <key>sourceSize</key>
                <string>{277,141}</string>
            </dict>
            <key>lhqy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3953,654},{277,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,141}}</string>
                <key>sourceSize</key>
                <string>{277,141}</string>
            </dict>
            <key>miaoshuk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3415,349},{650,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,183}}</string>
                <key>sourceSize</key>
                <string>{650,183}</string>
            </dict>
            <key>qhjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3387,1346},{341,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,162}}</string>
                <key>sourceSize</key>
                <string>{341,162}</string>
            </dict>
            <key>qhjnzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,1545},{177,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,43}}</string>
                <key>sourceSize</key>
                <string>{177,43}</string>
            </dict>
            <key>suo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3729,1669},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>sx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3348,2052},{302,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>sx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3348,1641},{304,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>sxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3415,2},{650,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,345}}</string>
                <key>sourceSize</key>
                <string>{650,345}</string>
            </dict>
            <key>sycw.png</key>
            <dict>
                <key>frame</key>
                <string>{{3895,1030},{184,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,46}}</string>
                <key>sourceSize</key>
                <string>{184,46}</string>
            </dict>
            <key>yycw.png</key>
            <dict>
                <key>frame</key>
                <string>{{3365,1510},{330,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,129}}</string>
                <key>sourceSize</key>
                <string>{330,129}</string>
            </dict>
            <key>zdjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,2059},{165,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,43}}</string>
                <key>sourceSize</key>
                <string>{165,43}</string>
            </dict>
            <key>zhongjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4067,2},{650,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,22}}</string>
                <key>sourceSize</key>
                <string>{650,22}</string>
            </dict>
            <key>zsjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3303,1892},{165,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,43}}</string>
                <key>sourceSize</key>
                <string>{165,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Petpic.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44d0ea1528aec5e2bac9ae589a020c4c:7610e8bb814d09ae7750453c39bda012:58586dd4e39800de72fd42a139031ee5$</string>
            <key>textureFileName</key>
            <string>Petpic.png</string>
        </dict>
    </dict>
</plist>
