<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bagcailiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,181},{176,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,145}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bagcaoliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,302},{156,107}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{156,107}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bagdaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,82},{156,109}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{156,109}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bagdaoju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{176,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,145}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bagquanbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,193},{156,107}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{156,107}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bagquanbu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{176,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,145}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bagzhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,141},{156,107}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{156,107}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bagzhuangbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,192},{176,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,145}}</string>
                <key>sourceSize</key>
                <string>{176,145}</string>
            </dict>
            <key>bai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,526},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>bai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,492},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>beibaojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,181},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>beibaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,229},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>beibaojinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,277},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>beibaojinbiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{254,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,53}}</string>
                <key>sourceSize</key>
                <string>{254,53}</string>
            </dict>
            <key>biaotibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,78}}</string>
                <key>sourceSize</key>
                <string>{372,78}</string>
            </dict>
            <key>bukechushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{195,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,82}}</string>
                <key>sourceSize</key>
                <string>{195,82}</string>
            </dict>
            <key>chucangxiangbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{173,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,55}}</string>
                <key>sourceSize</key>
                <string>{173,55}</string>
            </dict>
            <key>chushou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{195,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,82}}</string>
                <key>sourceSize</key>
                <string>{195,82}</string>
            </dict>
            <key>chushou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,177},{195,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,82}}</string>
                <key>sourceSize</key>
                <string>{195,82}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,250},{129,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,126}}</string>
                <key>sourceSize</key>
                <string>{131,126}</string>
            </dict>
            <key>huang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,496},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>huang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,446},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>lan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,446},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>lan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,374},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,328},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,378},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>quanbuanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,339},{125,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,67}}</string>
                <key>sourceSize</key>
                <string>{125,67}</string>
            </dict>
            <key>quanbuanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,339},{125,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,67}}</string>
                <key>sourceSize</key>
                <string>{125,67}</string>
            </dict>
            <key>shuziditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,141},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>wupinkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,328},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>wupinmiaoshukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{333,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,137}}</string>
                <key>sourceSize</key>
                <string>{333,137}</string>
            </dict>
            <key>wupinminchenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,57},{224,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,122}}</string>
                <key>sourceSize</key>
                <string>{224,122}</string>
            </dict>
            <key>xiaojinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,57},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,411},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,408},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bagpic.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a2934dee504a5fd6ead22d27cfccad8:d2e9fcfd00a46f77c125fa041ca82b6b:6431740e20bacb88da1c18ce8fb53191$</string>
            <key>textureFileName</key>
            <string>Bagpic.pvr</string>
        </dict>
    </dict>
</plist>
