<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EXPLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,354},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>againButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,279},{215,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,96}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>awardButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,164},{235,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,113}}</string>
                <key>sourceSize</key>
                <string>{235,113}</string>
            </dict>
            <key>endPanelArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,475},{42,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>endPanelCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,908},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>endPanelExpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,279},{382,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,16}}</string>
                <key>sourceSize</key>
                <string>{382,16}</string>
            </dict>
            <key>endPanelExpBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,519},{387,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,26}}</string>
                <key>sourceSize</key>
                <string>{387,26}</string>
            </dict>
            <key>endPanelJinYanJinBiFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,944},{155,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,35}}</string>
                <key>sourceSize</key>
                <string>{155,35}</string>
            </dict>
            <key>endPanelLabels.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1921},{85,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,153}}</string>
                <key>sourceSize</key>
                <string>{85,153}</string>
            </dict>
            <key>endPanelSpector.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{701,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,4}}</string>
                <key>sourceSize</key>
                <string>{701,4}</string>
            </dict>
            <key>endPanelWuPinDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{786,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,140}}</string>
                <key>sourceSize</key>
                <string>{786,140}</string>
            </dict>
            <key>endPanelZiMuDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{364,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,132}}</string>
                <key>sourceSize</key>
                <string>{364,132}</string>
            </dict>
            <key>failedTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{541,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,128}}</string>
                <key>sourceSize</key>
                <string>{541,128}</string>
            </dict>
            <key>failedTipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,475},{1078,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1078,211}}</string>
                <key>sourceSize</key>
                <string>{1078,211}</string>
            </dict>
            <key>rateAIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,429},{129,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,174}}</string>
                <key>sourceSize</key>
                <string>{129,174}</string>
            </dict>
            <key>rateBIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,429},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>rateCIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,150},{145,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,160}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
            <key>rateSIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,312},{150,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>rateSSIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{231,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,160}}</string>
                <key>sourceSize</key>
                <string>{231,160}</string>
            </dict>
            <key>sureButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,377},{215,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,96}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>upgredLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,144},{208,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,77}}</string>
                <key>sourceSize</key>
                <string>{208,77}</string>
            </dict>
            <key>upgredLifeLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,384},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>upgredTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,411},{400,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,46}}</string>
                <key>sourceSize</key>
                <string>{400,46}</string>
            </dict>
            <key>winTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{550,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,147}}</string>
                <key>sourceSize</key>
                <string>{550,147}</string>
            </dict>
            <key>winTipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{1078,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1078,211}}</string>
                <key>sourceSize</key>
                <string>{1078,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSceneEndLayer.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4418b37086a11ea9a5d8625ba2922cad:477e51622911db58e702f548d5b92ed0:bf423bf7c22fe46ebab2ed622b8ddc06$</string>
            <key>textureFileName</key>
            <string>GameSceneEndLayer.pvr</string>
        </dict>
    </dict>
</plist>
