<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baojiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1171},{107,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{107,62}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1085},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>coinX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{21,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{21,18}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>combo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,776},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>combo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1001},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>combo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>combo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,861},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,994},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1003},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>combo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1073},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>combo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,915},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>combo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1135},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>comboA.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,510},{262,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,102}}</string>
                <key>sourceSize</key>
                <string>{262,102}</string>
            </dict>
            <key>comboB.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,708},{212,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,94}}</string>
                <key>sourceSize</key>
                <string>{212,94}</string>
            </dict>
            <key>comboC.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,852},{202,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,93}}</string>
                <key>sourceSize</key>
                <string>{202,93}</string>
            </dict>
            <key>comboD.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,614},{242,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,92}}</string>
                <key>sourceSize</key>
                <string>{242,92}</string>
            </dict>
            <key>comboDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,333},{380,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,81}}</string>
                <key>sourceSize</key>
                <string>{380,81}</string>
            </dict>
            <key>comboLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,935},{102,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>comboS.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,128},{265,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,93}}</string>
                <key>sourceSize</key>
                <string>{265,93}</string>
            </dict>
            <key>comboSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,235},{450,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,96}}</string>
                <key>sourceSize</key>
                <string>{450,96}</string>
            </dict>
            <key>countDownBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,25},{144,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,16}}</string>
                <key>sourceSize</key>
                <string>{144,16}</string>
            </dict>
            <key>countDownFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,446},{149,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,21}}</string>
                <key>sourceSize</key>
                <string>{149,21}</string>
            </dict>
            <key>countDownFrameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,597},{144,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,16}}</string>
                <key>sourceSize</key>
                <string>{144,16}</string>
            </dict>
            <key>dam0.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,179},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>dam1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,134},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>dam2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1010},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>dam3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1046},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>dam4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1061},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>dam5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1010},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>dam6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,915},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>dam7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1079},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>dam8.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,958},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>dam9.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1003},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>daodiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1115},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{109,62}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>daojuBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,602},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>enegyBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,279},{514,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,25}}</string>
                <key>sourceSize</key>
                <string>{514,25}</string>
            </dict>
            <key>enegyBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{589,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,49}}</string>
                <key>sourceSize</key>
                <string>{589,49}</string>
            </dict>
            <key>enegyBarFrameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,416},{509,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,23}}</string>
                <key>sourceSize</key>
                <string>{509,23}</string>
            </dict>
            <key>enegyBarHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,128},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>fukongLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,946},{111,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{111,62}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>gedangLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,333},{111,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{111,64}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>gunBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,935},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>heroAvatarQTE.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,673},{101,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,78}}</string>
                <key>sourceSize</key>
                <string>{101,78}</string>
            </dict>
            <key>jituiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1171},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{109,62}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>knifeBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1039},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>lifeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,171},{52,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,6}}</string>
                <key>sourceSize</key>
                <string>{52,6}</string>
            </dict>
            <key>lifeBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,225},{52,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,6}}</string>
                <key>sourceSize</key>
                <string>{52,6}</string>
            </dict>
            <key>lifeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,510},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,795},{215,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,96}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>mianyiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,689},{111,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{111,64}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>missLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,171},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>monster2AvatarQTE.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,56},{113,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,76}}</string>
                <key>sourceSize</key>
                <string>{113,76}</string>
            </dict>
            <key>nextLevelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,804},{208,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{208,46}</string>
            </dict>
            <key>pauseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1003},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>pauseUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{492,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,537}}</string>
                <key>sourceSize</key>
                <string>{492,537}</string>
            </dict>
            <key>powerprobar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>qteBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{878,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,34}}</string>
                <key>sourceSize</key>
                <string>{878,34}</string>
            </dict>
            <key>qteBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,52}}</string>
                <key>sourceSize</key>
                <string>{1000,52}</string>
            </dict>
            <key>qteBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{878,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,34}}</string>
                <key>sourceSize</key>
                <string>{878,34}</string>
            </dict>
            <key>qteHeroAvatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,755},{178,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,132}}</string>
                <key>sourceSize</key>
                <string>{178,132}</string>
            </dict>
            <key>qteMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{62,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,104}}</string>
                <key>sourceSize</key>
                <string>{62,104}</string>
            </dict>
            <key>qteMonsterAvatarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,869},{178,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,132}}</string>
                <key>sourceSize</key>
                <string>{178,132}</string>
            </dict>
            <key>restartButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,673},{215,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,96}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,771},{215,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,96}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1067},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>shanbiLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,947},{111,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{111,62}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
            <key>skillBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,947},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>wallLifeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,446},{343,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,39}}</string>
                <key>sourceSize</key>
                <string>{343,39}</string>
            </dict>
            <key>wallLifeBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,416},{355,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,47}}</string>
                <key>sourceSize</key>
                <string>{355,47}</string>
            </dict>
            <key>wallLifeBarFrameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,465},{353,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,43}}</string>
                <key>sourceSize</key>
                <string>{353,43}</string>
            </dict>
            <key>wallLifeBarHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,134},{12,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,39}}</string>
                <key>sourceSize</key>
                <string>{12,39}</string>
            </dict>
            <key>yunLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1060},{111,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{111,62}}</string>
                <key>sourceSize</key>
                <string>{153,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d984d05bd1ceb4079ce8d9500213efea:b671435081da5f9414f4225bac19a215:e04ef45b5450afcfff0870e6b113eff6$</string>
            <key>textureFileName</key>
            <string>GameScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
