<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,974},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>enegyBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,23}}</string>
                <key>sourceSize</key>
                <string>{510,23}</string>
            </dict>
            <key>enegyBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{510,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,23}}</string>
                <key>sourceSize</key>
                <string>{510,23}</string>
            </dict>
            <key>gunBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>knifeBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>lifeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,966},{52,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,6}}</string>
                <key>sourceSize</key>
                <string>{52,6}</string>
            </dict>
            <key>lifeBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,966},{52,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,6}}</string>
                <key>sourceSize</key>
                <string>{52,6}</string>
            </dict>
            <key>nextLevelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,756},{208,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{208,46}</string>
            </dict>
            <key>pauseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,966},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>powerprobar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>restartButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,756},{208,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{208,46}</string>
            </dict>
            <key>resumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skillBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,352},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>wallLifeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{173,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,45}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
            <key>wallLifeBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,177},{173,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,45}}</string>
                <key>sourceSize</key>
                <string>{173,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:672129ba9c51af0d2a8a1076bf7d659c:c6dbace9787b913efe32eb24b07e983b:e04ef45b5450afcfff0870e6b113eff6$</string>
            <key>textureFileName</key>
            <string>GameScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
