<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgxwg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{462,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,548}}</string>
                <key>sourceSize</key>
                <string>{462,548}</string>
            </dict>
            <key>cztf.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,708},{192,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,84}}</string>
                <key>sourceSize</key>
                <string>{192,84}</string>
            </dict>
            <key>czxywz.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,874},{114,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,24}}</string>
                <key>sourceSize</key>
                <string>{114,24}</string>
            </dict>
            <key>djan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,779},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>djan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,703},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>djan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,616},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>djldt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{506,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,124}}</string>
                <key>sourceSize</key>
                <string>{506,124}</string>
            </dict>
            <key>ghcw.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,271},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>ghdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,480},{134,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,28}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>ghsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,142},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>ghwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>hstfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,647},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>jsht.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{600,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,4}}</string>
                <key>sourceSize</key>
                <string>{600,4}</string>
            </dict>
            <key>kqtf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1128},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>kqtf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1082},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>lstfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,647},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>qh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1179},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>qh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1132},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>span1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1307},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>span2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1343},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>span3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1263},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>sxmc.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,874},{374,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,140}}</string>
                <key>sourceSize</key>
                <string>{374,140}</string>
            </dict>
            <key>tfds.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,282},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>tffl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,599},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>tffl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,551},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>tffl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,503},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>tffl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,454},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>tfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,479},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tfsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,411},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tfsddt.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,404},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tfxqk.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,271},{299,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,207}}</string>
                <key>sourceSize</key>
                <string>{299,207}</string>
            </dict>
            <key>wqan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1263},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>wqan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1174},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>wqxydbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1218},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>wqxydjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1218},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>wqxydls.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1218},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>wqxydlvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>wqxydzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1265},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>xxan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1132},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>xxan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>xxsxan.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,547},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>xxsxmc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{130,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,519}}</string>
                <key>sourceSize</key>
                <string>{130,519}</string>
            </dict>
            <key>xyk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{650,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,132}}</string>
                <key>sourceSize</key>
                <string>{650,132}</string>
            </dict>
            <key>xzkgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,682},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>yxdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,480},{267,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,226}}</string>
                <key>sourceSize</key>
                <string>{267,226}</string>
            </dict>
            <key>yxjn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1099},{175,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>yxjn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,794},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>yxk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{650,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,132}}</string>
                <key>sourceSize</key>
                <string>{650,132}</string>
            </dict>
            <key>yxk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,132}}</string>
                <key>sourceSize</key>
                <string>{650,132}</string>
            </dict>
            <key>yxmzdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,410},{270,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,49}}</string>
                <key>sourceSize</key>
                <string>{270,49}</string>
            </dict>
            <key>yxsx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1097},{175,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>yxsx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,790},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>yxtf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1016},{176,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{176,79}}</string>
                <key>sourceSize</key>
                <string>{176,81}</string>
            </dict>
            <key>yxtf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1016},{176,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,81}}</string>
                <key>sourceSize</key>
                <string>{176,81}</string>
            </dict>
            <key>yxwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1029},{124,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,51}}</string>
                <key>sourceSize</key>
                <string>{124,51}</string>
            </dict>
            <key>zban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1177},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>zban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,866},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>zbxqdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{332,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,267}}</string>
                <key>sourceSize</key>
                <string>{332,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bed3d9183bc94e386ae1dfe7313890:69c2c497cdec5f1501843d3e9ea9aaeb:777b62fb190814e7f8c761fa91fab192$</string>
            <key>textureFileName</key>
            <string>hero.pvr</string>
        </dict>
    </dict>
</plist>
