<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwulong.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,416},{175,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,138}}</string>
                <key>sourceSize</key>
                <string>{175,138}</string>
            </dict>
            <key>chongwulongziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,126},{86,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,31}}</string>
                <key>sourceSize</key>
                <string>{86,31}</string>
            </dict>
            <key>chucangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,574},{160,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,135}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>chucangxiangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,580},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>diyu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,392},{191,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,22}}</string>
                <key>sourceSize</key>
                <string>{191,22}</string>
            </dict>
            <key>duanzaotai.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,556},{161,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,150}}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>duanzaotaiziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,93},{88,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,31}}</string>
                <key>sourceSize</key>
                <string>{88,31}</string>
            </dict>
            <key>guanqiarenwuziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,433},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>guaqiarenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{246,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,263}}</string>
                <key>sourceSize</key>
                <string>{246,263}</string>
            </dict>
            <key>jiahao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>jiahao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,529},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,392},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>jinbikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,343},{199,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,47}}</string>
                <key>sourceSize</key>
                <string>{199,47}</string>
            </dict>
            <key>jinjichangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>jinyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,319},{224,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,22}}</string>
                <key>sourceSize</key>
                <string>{224,22}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,159},{158,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,218}}</string>
                <key>sourceSize</key>
                <string>{158,218}</string>
            </dict>
            <key>paihangbangziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,529},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>shengmingtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,93},{224,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,22}}</string>
                <key>sourceSize</key>
                <string>{224,22}</string>
            </dict>
            <key>shenmishangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{197,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,186}}</string>
                <key>sourceSize</key>
                <string>{197,186}</string>
            </dict>
            <key>shenmishangrenziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,497},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>shikongmijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,465},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,382},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{394,140}}</string>
                <key>sourceSize</key>
                <string>{400,144}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,343},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainface.pvr</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c230653833d2671281c55f1637a13486:bbfd45f3d300017126e1f53d7071f9f0:ef700ce41e2b0ddfde439b73c5235743$</string>
            <key>textureFileName</key>
            <string>mainface.pvr</string>
        </dict>
    </dict>
</plist>
