<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,60},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,31},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,400},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,721},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>beidongjineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,404},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>chongwutuqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,86},{201,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,52}}</string>
                <key>sourceSize</key>
                <string>{201,52}</string>
            </dict>
            <key>dajiangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,658},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>dajiangshimiaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,89},{309,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,55}}</string>
                <key>sourceSize</key>
                <string>{309,55}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,628},{377,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,29}}</string>
                <key>sourceSize</key>
                <string>{377,29}</string>
            </dict>
            <key>ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,628},{377,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,34}}</string>
                <key>sourceSize</key>
                <string>{377,34}</string>
            </dict>
            <key>dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{218,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,82}}</string>
                <key>sourceSize</key>
                <string>{218,82}</string>
            </dict>
            <key>faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,615},{142,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,149}}</string>
                <key>sourceSize</key>
                <string>{142,149}</string>
            </dict>
            <key>huatiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{12,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,74}}</string>
                <key>sourceSize</key>
                <string>{12,74}</string>
            </dict>
            <key>huatiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,495},{17,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,182}}</string>
                <key>sourceSize</key>
                <string>{17,182}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,560},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>jiechuqiyue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,760},{160,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,82}}</string>
                <key>sourceSize</key>
                <string>{160,82}</string>
            </dict>
            <key>jiechuqiyue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,847},{160,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,82}}</string>
                <key>sourceSize</key>
                <string>{160,82}</string>
            </dict>
            <key>jineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,847},{175,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>jineng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,561},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>jinengdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,404},{311,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,89}}</string>
                <key>sourceSize</key>
                <string>{311,89}</string>
            </dict>
            <key>jinengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,404},{117,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,118}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>jinengsuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,760},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>jinengtubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,925},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>jinengtubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,844},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>jinengtubiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,844},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>jinjie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,847},{175,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>jinjie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,519},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>jinjieanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,597},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>jinjieanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,495},{161,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,84}}</string>
                <key>sourceSize</key>
                <string>{161,84}</string>
            </dict>
            <key>jjxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,759},{143,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,25}}</string>
                <key>sourceSize</key>
                <string>{143,25}</string>
            </dict>
            <key>k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{734,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,132}}</string>
                <key>sourceSize</key>
                <string>{734,132}</string>
            </dict>
            <key>k2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{734,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,132}}</string>
                <key>sourceSize</key>
                <string>{734,132}</string>
            </dict>
            <key>k3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{734,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,132}}</string>
                <key>sourceSize</key>
                <string>{734,132}</string>
            </dict>
            <key>kuangcw.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,523},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>kuangcw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,560},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>lhqy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,684},{161,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,82}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>lhqy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,465},{161,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,82}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>miaoshuk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{377,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,106}}</string>
                <key>sourceSize</key>
                <string>{377,106}</string>
            </dict>
            <key>qhjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,519},{198,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,94}}</string>
                <key>sourceSize</key>
                <string>{198,94}</string>
            </dict>
            <key>qhjnzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{103,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,25}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>suo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,519},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>sx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,641},{175,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>sx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,481},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>sxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,140},{377,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,200}}</string>
                <key>sourceSize</key>
                <string>{377,200}</string>
            </dict>
            <key>sycw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{107,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,27}}</string>
                <key>sourceSize</key>
                <string>{107,27}</string>
            </dict>
            <key>yycw.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,404},{191,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,75}}</string>
                <key>sourceSize</key>
                <string>{191,75}</string>
            </dict>
            <key>zdjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,404},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>zhongjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,86},{377,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,13}}</string>
                <key>sourceSize</key>
                <string>{377,13}</string>
            </dict>
            <key>zsjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,404},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:662e409c44837f0a7f5c2455081989ac:fe835ca1660181a264a47f8fdb289f9c:6ad478c64155114d74460daf18cc89e5$</string>
            <key>textureFileName</key>
            <string>pet.pvr</string>
        </dict>
    </dict>
</plist>
