<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m4bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,67},{58,63}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{58,63}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,454},{84,73}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{84,73}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,454},{84,79}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{84,79}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet12.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,454},{84,79}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{84,79}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet13.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,260},{54,73}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{54,73}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,198},{38,67}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,40},{38,67}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet15.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{46,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,32},{46,49}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet16.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{46,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,32},{46,49}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{60,63}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{60,63}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,176},{64,57}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,28},{64,57}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,260},{68,59}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{68,59}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,335},{72,63}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{72,63}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,372},{76,61}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{76,61}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,372},{80,67}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{80,67}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,176},{82,63}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{82,63}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet9.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,450},{84,73}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{84,73}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>m4bullet_explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,455},{53,86}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,50},{53,86}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,544},{175,224}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{175,224}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{175,236}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{175,236}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{189,238}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{189,238}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,270}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{189,270}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{197,268}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{197,268}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion15.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,540},{197,170}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{197,170}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion16.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,242},{211,180}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{211,180}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion17.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,242},{211,180}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{211,180}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion18.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,783},{227,192}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{227,192}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion19.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,783},{227,192}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{227,192}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,455},{87,136}}</string>
                <key>offset</key>
                <string>{22,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,30},{87,136}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{237,194}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{237,194}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{107,172}}</string>
                <key>offset</key>
                <string>{19,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,8},{107,172}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,198},{129,172}}</string>
                <key>offset</key>
                <string>{8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{129,172}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{131,194}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{131,194}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{157,194}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{157,194}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,543},{157,210}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{157,210}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,242},{161,210}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{161,210}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
            <key>m4bullet_explosion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,770},{161,224}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,7},{161,224}}</string>
                <key>sourceSize</key>
                <string>{237,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VE.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:109ba2fe6e2801a34f32818ee059a662:3e8efb1932326f1eb6f33cc0abb3adc8:039b238daaae0dc0608b8c5daa731ea5$</string>
            <key>textureFileName</key>
            <string>VE.pvr</string>
        </dict>
    </dict>
</plist>
